@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600;700&display=swap");

.skills-content-wrapper {
  display: flex;
  padding: 20px;
  gap: 20px;
  font-family: "Edu TAS Beginner";
}

.skills-content-wrapper-inner-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-content-wrapper-inner-content-text {
  display: inline-block;
  color: var(--sub-text-color);
  font-size: 22px;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.5px;
  position: relative;
  text-transform: uppercase;
  padding: 5px 10px;
  border-bottom: 2px solid var(--main);
}

.skills-content-wrapper-inner-content-text::before,
.skills-content-wrapper-inner-content-text::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 5px;
  background-color: var(--main);
  bottom: -1px;
}

.skills-content-wrapper-inner-content-text::before {
  left: 0;
}

.skills-content-wrapper-inner-content-text::after {
  right: 0;
}

.skills-content-wrapper-inner-content-progress-bar-container {
  width: 100%;
}

.progress-bar-wrapper {
  padding: 50px 0px 0px 0px;
}

.progress-bar-wrapper p {
  font-size: 1.6rem;
  margin: 0 0 10px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--sub-text-color);
}

@media only screen and (max-width: 1150px) {
  .skills-content-wrapper {
    flex-direction: column;
  }
  .skills-content-wrapper-inner-content-progress-bar-container {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 450px) {
  .skills-content-wrapper-inner-content-text {
    font-size: 13px;
  }
  .progress-bar-wrapper p {
    font-size: 11px;
  }
}
