@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.wrapper {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px dashed var(--main);

  h2 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 1rem;
    text-transform: capitalize;
    color: var(--main);
    display: flex;
    flex-grow: 1;
    font-family: "Pacifico", sans-serif;
  }

  span {
    svg {
      color: var(--main);
    }
  }
}
